luminosity 35900
output output.root
style cms

Files/Sample_2016/allData.root          Data.root

#DY and WJets all inclusive:
Files/Sample_2016/DYJetsToLL_M-50.root	    DY+Jets.root	6025.200       1.00	bg  
Files/Sample_2016/WJetsToLNu.root           W+Jets.root         61334.90       1.00     bg 

# DY+Jets M-50
#Files/Sample_2016/DYJetsToLL_M-50_HT-70to100.root         DY+Jets.root     215.619	1.00     bg  
Files/Sample_2016/DYJetsToLL_M-50_HT-100to200.root        DY+Jets.root     213.400	1.00     bg  
Files/Sample_2016/DYJetsToLL_M-50_HT-200to400.root        DY+Jets.root     65.4200	1.00     bg  
Files/Sample_2016/DYJetsToLL_M-50_HT-400to600.root        DY+Jets.root     7.31000	1.00     bg  
Files/Sample_2016/DYJetsToLL_M-50_HT-600to800.root        DY+Jets.root     1.49000	1.00     bg  
Files/Sample_2016/DYJetsToLL_M-50_HT-800to1200.root       DY+Jets.root     0.66100	1.00     bg  
Files/Sample_2016/DYJetsToLL_M-50_HT-1200to2500.root      DY+Jets.root     0.11900	1.00     bg  
Files/Sample_2016/DYJetsToLL_M-50_HT-2500toInf.root       DY+Jets.root     0.00280	1.00     bg  

# DY+Jets M-5to50 (using xsec to LO from XSDB tool)
# Files/Sample_2016/DYJetsToLL_M-5to50_HT-70to100.root           DY+Jets.root     301.00          1.00     bg  
Files/Sample_2016/DYJetsToLL_M-5to50_HT-100to200.root            DY+Jets.root     224.20          1.00     bg  
Files/Sample_2016/DYJetsToLL_M-5to50_HT-200to400.root            DY+Jets.root     37.200          1.00     bg  
Files/Sample_2016/DYJetsToLL_M-5to50_HT-400to600.root            DY+Jets.root     3.5810          1.00     bg  
Files/Sample_2016/DYJetsToLL_M-5to50_HT-600toInf.root            DY+Jets.root     1.1240          1.00     bg  

# QCD
Files/Sample_2016/QCD_HT50to100.root    QCD.root	246700000       1.00    bg
Files/Sample_2016/QCD_HT100to200.root 	QCD.root 	27990000.00	1.00	bg
Files/Sample_2016/QCD_HT200to300.root 	QCD.root 	1559000.00	1.00	bg
Files/Sample_2016/QCD_HT300to500.root 	QCD.root 	351900.00	1.00	bg
Files/Sample_2016/QCD_HT500to700.root 	QCD.root 	290700.00	1.00	bg
Files/Sample_2016/QCD_HT700to1000.root 	QCD.root 	5962.00		1.00	bg
Files/Sample_2016/QCD_HT1000to1500.root	QCD.root 	1005.00		1.00	bg
Files/Sample_2016/QCD_HT1500to2000.root QCD.root 	101.80		1.00	bg
Files/Sample_2016/QCD_HT2000toInf.root	QCD.root	20.54		1.00	bg

# Single top
Files/Sample_2016/ST_s-channel_4f_leptonDecays.root		   SingleTop.root   3.680    1.00   bg
Files/Sample_2016/ST_t-channel_antitop_4f_inclusiveDecays.root     SingleTop.root   80.95    1.00   bg
Files/Sample_2016/ST_t-channel_top_4f_inclusiveDecays.root         SingleTop.root   136.02   1.00   bg
Files/Sample_2016/ST_tW_antitop_5f_inclusiveDecays.root            SingleTop.root   38.06    1.00   bg
Files/Sample_2016/ST_tW_top_5f_inclusiveDecays.root                SingleTop.root   38.06    1.00   bg

# ttbar

#Files/Sample_2016/TT.root     t#bar{t}.root   831.59   1.00  bg  0.81

Files/Sample_2016/TTTo2L2Nu.root        t#bar{t}.root    88.29   1.00   bg  
Files/Sample_2016/TTToHadronic.root     t#bar{t}.root   377.96   1.00   bg  
Files/Sample_2016/TTToSemiLeptonic.root t#bar{t}.root   365.34   1.00   bg  


# W+jets
#Files/Sample_2016/WJetsToLNu_HT-70To100.root		W+Jets.root      1595.99        1.00      bg 
Files/Sample_2016/WJetsToLNu_HT-100To200.root		W+Jets.root      1695.0		1.00      bg 
Files/Sample_2016/WJetsToLNu_HT-200To400.root		W+Jets.root      532.40		1.00      bg 
Files/Sample_2016/WJetsToLNu_HT-400To600.root		W+Jets.root      61.600         1.00      bg 
Files/Sample_2016/WJetsToLNu_HT-600To800.root		W+Jets.root      12.400         1.00      bg 
Files/Sample_2016/WJetsToLNu_HT-800To1200.root		W+Jets.root      5.7700         1.00      bg 
Files/Sample_2016/WJetsToLNu_HT-1200To2500.root		W+Jets.root      1.0230         1.00      bg 
Files/Sample_2016/WJetsToLNu_HT-2500ToInf.root		W+Jets.root      0.0248		1.00      bg 

# Diboson
Files/Sample_2016/WWTo2L2Nu.root     				VV.root     	10.480		1.00	bg
Files/Sample_2016/WWTo4Q.root					VV.root		51.723		1.00	bg
Files/Sample_2016/WWToLNuQQ.root				VV.root		43.530		1.00	bg
Files/Sample_2016/WZTo1L1Nu2Q.root				VV.root		10.730		1.00	bg
Files/Sample_2016/WZTo1L3Nu.root				VV.root		3.0540		1.00	bg
Files/Sample_2016/WZTo2L2Q.root					VV.root		5.6060		1.00	bg
Files/Sample_2016/WZTo3LNu.root					VV.root		4.4300		1.00 	bg
Files/Sample_2016/ZZTo2L2Nu.root				VV.root		0.5644  	1.00	bg
Files/Sample_2016/ZZTo2L2Q.root					VV.root		3.2220		1.00	bg
Files/Sample_2016/ZZTo2Q2Nu.root				VV.root		4.0330		1.00	bg
Files/Sample_2016/ZZTo4L.root					VV.root		1.2560		1.00	bg
Files/Sample_2016/ZZTo4Q.root   	     			VV.root		6.842		1.00	bg
Files/Sample_2016/GluGluWWTo2L2Nu_MCFM.root			VV.root		0.5906		1.00	bg
Files/Sample_2016/WWJJToLNuLNu_EWK_QCD_noTop-noHiggs.root	VV.root		2.616		1.00	bg
Files/Sample_2016/WpWpJJ_QCD.root				VV.root		0.02615		1.00	bg


# Triboson
Files/Sample_2016/WWW_4F.root 	VVV.root	0.20860		1.00	bg
Files/Sample_2016/WWZ.root	VVV.root	0.16510		1.00	bg
Files/Sample_2016/WZZ.root	VVV.root	0.05565		1.00	bg
Files/Sample_2016/ZZZ.root	VVV.root	0.01398		1.00	bg

# TT+X
Files/Sample_2016/TTWJetsToLNu.root			tt+X.root	0.2043		1.00	bg
Files/Sample_2016/TTWJetsToQQ.root			tt+X.root	0.4062		1.00	bg
Files/Sample_2016/TTZToLLNuNu_M-10.root			tt+X.root	0.2529		1.00	bg
Files/Sample_2016/TTZToQQ.root				tt+X.root	0.5297		1.00	bg
Files/Sample_2016/TTGJets.root				tt+X.root	3.6970		1.00	bg
Files/Sample_2016/TTTT.root				tt+X.root	0.0090		1.00	bg			
Files/Sample_2016/ttH_HToZZ_4LFilter_M125.root		tt+X.root	0.0001355	1.00	bg

# VBF Higgs
Files/Sample_2016/GluGluHToZZTo4L_M125.root		VBFHiggs.root		0.0129763	1.00	bg
Files/Sample_2016/WPlusH_HToMuMu_M125.root		VBFHiggs.root		0.0001828	1.00	bg
Files/Sample_2016/WMinusH_HToMuMu_M125.root		VBFHiggs.root		0.0001159	1.00	bg
Files/Sample_2016/ZH_HToZZ_4LFilter_M125.root		VBFHiggs.root		0.0002361	1.00	bg
Files/Sample_2016/VBF_HToZZTo4L_M120.root		VBFHiggs.root		0.0010511	1.00	bg
Files/Sample_2016/VBF_HToZZTo4L_M125.root		VBFHiggs.root		0.0010102	1.00	bg
Files/Sample_2016/VBF_HToZZTo4L_M130.root		VBFHiggs.root		0.0009715	1.00	bg
Files/Sample_2016/VBFHToBB_M-125.root			VBFHiggs.root		2.183		1.00	bg
Files/Sample_2016/VBFHToBB_M-120.root			VBFHiggs.root		2.572		1.00	bg
Files/Sample_2016/VBFHToBB_M-130.root			VBFHiggs.root		1.813		1.00	bg
Files/Sample_2016/GluGluHToBB_M125.root			VBFHiggs.root		25.340		1.00	bg
Files/Sample_2016/GluGluHToBB_M120.root			VBFHiggs.root		30.968		1.00	bg
Files/Sample_2016/GluGluHToBB_M130.root			VBFHiggs.root		20.553		1.00	bg
Files/Sample_2016/WplusH_HToBB_WToQQ_M125.root		VBFHiggs.root		0.339		1.00	bg
#Files/Sample_2016/WminusH_HToBB_WToQQ_M125.root		VBFHiggs.root		0.199		1.00	bg
Files/Sample_2016/ZH_HToBB_ZToQQ_M125.root		VBFHiggs.root		0.311		1.00	bg
Files/Sample_2016/ggZH_HToBB_ZToQQ_M125.root		VBFHiggs.root		0.043		1.00	bg
Files/Sample_2016/bbHToBB_M-125_4FS_yb2.root		VBFHiggs.root		0.310		1.00	bg

# Vector Boson Scattering samples (added September, 2019) and EWK backgrounds
Files/Sample_2016/EWKWMinus2Jets_WToLNu_M-50.root       	EWK_W+2jets.root	25.81		1.00	bg
Files/Sample_2016/EWKWPlus2Jets_WToLNu_M-50.root		EWK_W+2jets.root	20.35		1.00	bg

Files/Sample_2016/EWKZ2Jets_ZToLL_M-50.root		EWK_Z+2jets.root	3.998		1.00	bg
Files/Sample_2016/EWKZ2Jets_ZToNuNu.root		EWK_Z+2jets.root	3.998		1.00	bg


Files/Sample_2016/WGJJToLNu_EWK_QCD.root		V#gamma+jets.root	5.66		1.00	bg
Files/Sample_2016/LLAJJ_EWK_MLL-50_MJJ-120.root		V#gamma+jets.root	0.1097		1.00	bg
Files/Sample_2016/ZGTo2LG.root				V#gamma+jets.root	131.334		1.00	bg

